<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Created Freelance Page List</title>
  </head>
  {% extends 'navbar.html' %} {% load static %} {% block content %}

  <body>
    <div class="container">
      <h1>Created Freelance Page List</h1>
      <div class="row">
        {% for ad in AdPage %}
        <div class="col-4">
            <div class="card">
              <img src="{% static 'image/Bowling_5_1080P.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ad.title}}</h5>
                <p class="card-text">{{ad.description|slice:":50"}}</p>
                <p class="card-text">Set Price: {{ad.price}}</p>
                <a href="{% url 'freelanceAdPage:freelance_ad_page' ad.id %}" class="btn btn-primary">Check Page</a>
                <a href="{% url 'freelanceAdPage:update_ad_page' ad.id %}" class="btn btn-primary">Update Page</a>
                <a href="{% url 'freelanceAdPage:delete_ad_page' ad.id %}" class="btn btn-danger">Delete Page</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
        
        
    </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
  {% endblock %}
</html>